#!/bin/sh -x

<% locale_name = scope.lookupvar("ganeti::debootstrap_locale")
charmap = scope.lookupvar("ganeti::debootstrap_charmap")
-%>
/bin/echo "<%= locale_name %> <%= charmap %>" > "$TARGET/etc/locale.gen"
chroot $TARGET /usr/sbin/locale-gen
chroot $TARGET /usr/sbin/update-locale LANG=<%= locale_name %>

